<div class="agency">
  <h3><a href="<%= a.agency_url %>">Big Brothers Big Sisters of <br/><%= a.agency_name %></a></h3>
  <div class="agency-address"><%= a.address %><br/><%= a.address2 %></div>
  <div class="agency-phone"><%= a.phone_number %></div>

  <div class="agency-contact">
    <div class="agency-email"><a href="mailto:<%= a.contact_email %>"><%= a.contact_email %></a></div>
    <div class="agency-url"><a href="<%= a.agency_url %>"><%= a.agency_url %></a></div>
  </div>
</div>